- set_meta_tags title: "パーティープラン一覧", canonical: parties_url,
  description: "株式会社オルブルが運営するDartsBarRailly(ダーツバーレイリー)のパーティープランを掲載しています。さらに会員登録することでお得にパーティーをご利用いただけます。"

.row
  .col-2
  .col-4
    %h1.f22.mb30 パーティープラン一覧


- @parties.each do |party|
  .row.mb20
    .col-2
    .col-8
      .card
        .card-header
          %h2.mb0.f16= party.name
        .card-body
          %div.f14{style: 'padding: 10px;'}
            = bbr party.content
          .text-right
            = link_to 'more »', party, class: "btn btn-success btn-sm"
