%h1= @blog.title

.t-right
  %p
    投稿日
    = l @blog.publish_at
    .fb-like(style="margin-left: 10px;" data-href="#{request.url}" data-layout="button_count" data-action="recommend" data-show-faces="false")

%p
  = @blog.body_md.html_safe
