- set_meta_tags title: 'Railly Blog - DartsBarRaillyのブログ', canonical: blogs_url,
  description: 'DartsBarRaillyのスタッフが想い出を綴ります。私達の想い出を財産にするために。'

.blog-eye-catch.mb20
  .text-center.pt60
    %h1.mt0.mb50.f60 Railly Blog
    %p.lead
      私たちは、「想い出は一生の財産」を企業理念に掲げています。
      %br
      想い出を財産にするべくスタッフが綴ります。

.row
  .col-md-2

  .col-md-8
    .panel.panel-default
      .panel-heading
        %h2.panel-title #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .panel-body
        %table.table.recruit
          - @blogs.each do |blog|
            %tr
              %td
                %span.f10=l blog.publish_at
                %br
                = link_to blog.title, blog_path(blog)

    .text-center
      .pagination= paginate @blogs
