- set_meta_tags title: 'ALBULL Blog - ALBULL Incのスタッフブログ', canonical: blogs_url,
  description: 'ALBULLのスタッフが想い出を綴ります。私達の想い出を財産にするために。',
  og: { title: 'ALBULL Blog - ALBULL Incのスタッフブログ', url: blogs_url, type: "article", description: 'ALBULLのスタッフが想い出を綴ります。私達の想い出を財産にするために。' }

.blog-eye-catch.mb20
  .text-center.pt60
    %h1.mt0.mb50.f60 ALBULL Blog
    %p.lead
      私たちは、「想い出は一生の財産」を企業理念に掲げています。
      %br
      想い出を財産にするべくスタッフが綴ります。

.row
  .col-2
  .col-8
    .card
      .card-header
        %h2.mb0.f18 #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .card-body
        %ul.list-group.list-group-flush
          - @blogs.each do |blog|
            %li.list-group-item
              %p.card-text.mb0
                %small.f10.text-muted=l blog.publish_at
              %span.card-link
                = link_to blog.title, blog_path(blog)

    .mt20
      .pagination= paginate @blogs
