- set_meta_tags title: "#{@blog.title} - Railly Blog", canonical: blog_url(@blog),
  description: strip_tags(@blog.body_md),
  og: { title: @blog.title, url: blog_url(@blog), type: "article", description: strip_tags(@blog.body_md) }

.col-md-1

.col-md-10

  = render @blog

  .links.mt50
    = link_to '« 一覧へ戻る', blogs_path

.col-md-1
