- set_meta_tags title: 'Railly Topics - DartsBarRaillyのトピック', canonical: topics_url,
  description: 'DartsBarRaillyからお知らせです。'


.row
  .col-2
  .col-8
    %h1.mt0.mb50 トピックス一覧
    .card
      .card-header
        %h2.mb0.f18 #{fa_icon 'exclamation'} 新着#{Topic.model_name.human}
      .card-body
        %ul.list-group.list-group-flush
          - @topics.each do |topic|
            %li.list-group-item
              %p.card-text.mb0
                %small.f10.text-muted=l topic.publish_at
              %span.card-link
                = link_to topic.title, topic_path(topic)

    .mt20
      .pagination= paginate @topics
