- set_meta_tags title: @topic.title

%h1.f22= @topic.title

.col-md-8
  %p.t-right
    =l @topic.publish_at.to_date, format: :topic

  - if @topic.carousel_img.present?
    .mb15
      = image_tag @topic.carousel_img, width: "100%"

  %p
    = @topic.body.html_safe


.mt15
  = link_to t('Back'), topics_path
