footer {
  background: #e6e6df;
}

ul.footer-link {
  padding-left: 0;
  li {
    text-align: center;
    display: inline-block;
    border-right: 1px solid #949d9d;
    box-sizing: border-box;
    width: 32%;

    &:last-child {
      border-right: none;
      margin-right: 1px;
    }
    &:first-child {
      margin-left: 1px;
    }
  }
}
