- set_meta_tags title: "会社概要"

%h3 会社概要

%table.table.table-bordered
  %tr
    %th.col-md-2 商号
    %td 株式会社ユア (英文名 Your Corp.)
  %tr
    %th.col-md-2 設立年月日
    %td 2016年4月11日
  %tr
    %th.col-md-2 資本金
    %td 2000万円(資本準備金含む)
  %tr
    %th.col-md-2 事業内容
    %td
      .mb5 労働者派遣、職業紹介
      .mb5 託児所、保育園の経営
  %tr
    %th.col-md-2 許可番号
    %td
      .mb5 人材派遣業　準備中(8月予定)
      .mb5 人材紹介業　準備中(8月予定)
  %tr
    %th.col-md-2 法人番号
    %td 1 0118 0103 1677
