- set_meta_tags title: "会社概要"

.col-md-2

.col-md-8

  %h3 会社概要

  %table.table.table-bordered
    %tr
      %th.col-md-2 商　号
      %td 株式会社ユア (英文名 Your Corp.)
    %tr
      %th.col-md-2 設立年月日
      %td 2016年4月11日
    %tr
      %th.col-md-2 資 本 金
      %td 2000万円(資本準備金含む)
    %tr
      %th.col-md-2 役　員
      %td
        .mb5 代表取締役　渡邉 佑太(保育士/幼稚園教諭一種)
        .mb5 取　締　役　奥田 明大
    %tr
      %th.col-md-2 事業内容
      %td
        .mb5 託児所、保育園の経営(#{link_to "#{Place.model_name.human}一覧", :places})
        .mb5 労働者派遣、職業紹介
    %tr
      %th.col-md-2 許可番号
      %td
        .mb5 人材派遣業　派 11 - 300802
        .mb5 人材紹介業　11 - ユ - 300601
    %tr
      %th.col-md-2 法人番号
      %td 1 0118 0103 1677

  %table.table.table-bordered
    %tr
      %th.col-md-2 企業理念
      %td= link_to "「あなたの想いを、全て形に」", mission_path, class: "f-bold"
    %tr
      %th.col-md-2 保育理念
      %td= link_to "「想いつき」「想い出」「想いやり」を大切に", policy_childcare_path, class: "f-bold"

.col-md-2
