- set_meta_tags title: "特定商取引法に基づく表記", description: '', noindex: true, nofollow: true, canonical: law_url

.col-md-2

.col-md-8
  %h1.f24 特定商取引法に基づく表記

  %dl
    %dt.c-middle.f18.mt40 1. 販売事業者名
    %dd.mt5
      株式会社オルブル
    %dt.c-middle.f18.mt40 2. 運営責任者名
    %dd.mt5
      奥田明大
    %dt.c-middle.f18.mt40 3. 問い合わせ窓口(メールアドレス)
    %dd.mt5
      contact＠albull.co.jp
    %dt.c-middle.f18.mt40 4. 問い合わせ窓口(電話番号)
    %dd.mt5
      03-4500-6807
    %dt.c-middle.f18.mt40 5. 本社所在地
    %dd.mt5
      東京都足立区舎人二丁目19番10-701号
    %dt.c-middle.f18.mt40 6. 商品代金以外の必要料金
    %dd.mt5
      なし
    %dt.c-middle.f18.mt40 7. お支払い方法
    %dd
      クレジットカード決済
    %dt.c-middle.f18.mt40 8. 代金の支払い時期
    %dd.mt5
      【都度課金】
      %br
      商品購入時に決済
      %br
      %br
      【月額課金】
      %br
      初回プランお申し込み時、以降毎月お申し込み同一日決済(ただしお申し込み同一日が存在しない月は、月末日決済)
    %dt.c-middle.f18.mt40 9. 商品の引き渡し時期
    %dd.mt5
      代金決済手続きの完了確認後直ちに
    %dt.c-middle.f18.mt40 10. 返品・交換不良品・解約について
    %dd.mt5
      %p
        解約につきましては、契約期間中はマイページよりいつでも手続きが可能です。 解約手続きをいただいた当月末までサービスを提供し、翌月以降サービス提供及びご請求をお止めします。
        %br
        また、解約時に未使用の商品購入データがある場合は、手数料を差し引き返金します。
