.col-md-12
  %h1.f18 企業理念

  .f24.f-bold
    「あなたの想いを、全て形に」

  .mt30
    私たちユアは「あなたの想いを、全て形に」という企業理念のもと、人、仕事、ライフスタイルにおいて、あなたの想いを実現していく会社です。

  .mt20.f16
    〜あなたがキラキラと笑顔でいられること〜

  .mt10
    私たちは、お母さんを中心に「全ての働く女性のサポート」を行っています。
    働く女性の「あったら良いな」「できたら良いな」という声や想いを形にし、人材派遣事業と保育事業を融合させた「新たな形の就業スタイル」を創り出し、女性が安心して働ける社会を目指しています。


  .mt50.f18
    ⇒
    = link_to "保育理念", policy_childcare_path, class: 'c-black'
