- set_meta_tags title: "プライバシーポリシー", description: '株式会社オルブル【ALBULL Inc.】が運用するDartsBarRaillyの本ホームページは本プライバシーポリシーで運用いたします。', noindex: true, nofollow: true

.col-md-2

.col-md-8
  %h1.f24 プライバシーポリシー

  %dl.mt20.mb50
    %dt.c-middle.f18 1. 個人情報の収集について
    %dd.mt5
      個人情報とは、個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）を指します。
      %br
      %br
      株式会社オルブル（以下「当社」という。）は、個人情報を収集することがあります。当社は、個人情報の利用目的を公表します。

    %dt.c-middle.f18.mt20 2. 個人情報の利用目的について
    %dd.mt5
      当社は、収集した個人情報を以下の目的で利用することができるものとします。<br />
      %br
      ・弊社運営の保育施設の関係者（園児、親、保育士等）に、適切なサービスを提供するため
      %br
      ・システム利用サービス、コンテンツその他の情報提供サービスの提供のため
      %br
      ・本人確認、認証サービスのため
      %br
      ・アフターサービス、問い合わせ、苦情対応のため
      %br
      ・アンケートの実施のため
      %br
      ・懸賞、キャンペーンの実施のため
      %br
      ・当社及び第三者の商品等（旅行、保険その他の金融商品を含む。以下同じ。）の販売、販売の勧誘、発送、サービス提供のため
      %br
      ・当社及び第三者の商品等の広告または宣伝（ダイレクトメールの送付、電子メールの送信を含む。）のため
      %br
      ・料金請求、課金計算のため
      %br
      ・マーケティングデータの調査、統計、分析のため
      %br
      ・決済サービス、物流サービスの提供のため
      %br
      ・新サービス、新機能の開発のため
      %br
      ・システムの維持、不具合対応のため
      %br
      ・その他当社の各サービスにおいて個別に定める目的のため
      %br

    %dt.c-middle.f18.mt20 3. 個人情報の提供について
    %dd.mt5
      当社は、以下に定める場合には、個人情報を第三者に提供することができるものとします。
      %br
      %br
      ・本人の同意がある場合
      %br
      ・裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合
      %br
      ・保険金請求のために保険会社に開示する場合
      %br
      ・当社または当社運営サイトを利用する第三者に対し支払うべき料金その他の金員の決済を行うために、金融機関、クレジットカード会社、回収代行業者その他の決済またはその代行を行う事業者に開示する場合
      %br
      ・当社が行う業務の全部または一部を第三者に委託する場合
      %br
      ・当社に対して秘密保持義務を負う者に対して開示する場合
      %br
      ・当社の権利行使に必要な場合
      %br
      ・合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
      %br
      ・個人情報保護法その他の法令により認められた場合
      %br
      ・その他当社の各サービスにおいて個別に定める場合
      %br

    %dt.c-middle.f18.mt20 4. リンク先等の個人情報の取扱いについて
    %dd.mt5
      当社運営サイト上やメールマガジンにおいて､外部のサイトへのリンクが貼られることがあります。この外部のサイトで登録される個人情報は、当社で管轄する情報ではない為、一切の責任を負うことができません。
      %br
      %br
      外部サイトで個人情報を登録される場合は、そのサイトのプライバシーポリシーをご確認ください。

    %dt.c-middle.f18.mt20 5. 個人情報を保護するための体制について
    %dd.mt5
      当社では、当社内に設置する個人情報管理委員会が個人情報の取扱いに関する方針を決定し、運用状況を確認しています。更に、個人情報を管理する責任部門に個人情報管理統括責任者を配置し、その者が個人情報の適切な管理を指導しています。

    %dt.c-middle.f18.mt20 6. プライバシーポリシーの更新について
    %dd.mt5
      当社は、プライバシーポリシーを変更する場合があります。
      %br
      プライバシーポリシーに重要な変更がある場合には、サイト上で告知します。
      %br
      %br
      本ページを都度ご確認の上、当社のプライバシーポリシーをご理解いただくようお願いします。

    %dt.c-middle.f18.mt20 7. お客様へのお願い
    %dd.mt5
      ・当社運営サイトでは、お客様の登録情報をID・パスワードで保護している場合があります。ID・パスワードの管理は、お客様ご自身が責任を持って行ってください。
      %br
      ・当社運営サイトを安全にご利用いただけるよう、当社運営サイト上に、他の方やお客様ご自身の個人情報は掲載されないようお願いいたします。
      %br

    %dt.c-middle.f18.mt20 8. 行動ターゲティング広告の説明と無効化について
    %dd.mt5
      「行動ターゲティング広告」とは、お客様のサイト内での行動を分析し、そのお客様の興味や関心があると思われる広告を、お客様の属性等に合わせて配信する広告です。
      %br
      当社では、お客様の興味や関心に沿った広告を配信するために、cookieを利用して本サイトを訪れたお客様の閲覧履歴、広告への反応履歴、サービスの利用履歴（以下総称して「行動履歴情報」といいます。）を取得し、以下の広告配信サービス（広告配信サービスを運営する事業者を総称して、以下「広告配信サービス提供者」といいます。）に提供し、広告配信サービス提供者より、本サイト内及び広告配信サービスの広告ネットワークの各媒体において配信しております。
      %br
      %br
      なお、行動ターゲティング広告を配信するために取得及び提供するお客様の行動履歴情報は、個人を特定しない範囲（名前、住所、電話番号等を含まない範囲）としております。
      %br
      %br
      当該広告の無効化をご希望される方は、以下の広告配信サービス提供者のホームページのオプトアウトページにおいて、行動ターゲティング広告を無効にする設定を行ってください。<br />
      行動ターゲティング広告の無効化の設定をした後は、行動ターゲティングによらない広告が表示されます。
      %br
      （実際に無効化の設定がシステム上反映されるまで時間がかかる場合があります。）
      %br
      %br
      ■Google AdSense
      %br
      %a(rel="nofollow" target="_blank" href="https://www.google.com/settings/ads/onweb/")
        https://www.google.com/settings/ads/onweb/

  2018年10月15日 更新
