- set_meta_tags title: '保育目標', description: '株式会社ユアの保育では、”「その子らしさ」を尊重し、想いが溢れる子ども達を育てます”を保育目標に、「思いつき」「想い出」「想いやり」の３つの『想い』を大切にしした保育を行います。。全ての想いを形に出来るよう、日々切磋琢磨し、未来へ繋がる保育園作りを目指しています。'

.row(style="line-height: 1.8em;")
  .col-md-3

  .col-md-6
    %h1.f18 保育目標

    .f24.f-bold
      「その子らしさ」を尊重し、想いが溢れる子ども達を育てます

    .mt50
      この目標のもと、
      %span.f18.f-bold ３つの『想い』を大切にした保育
      を行います。

      .mt10.f16.f-bold
        【想いつき】
      .pa15.pt5
        様々な保育の活動を通じ、見て、触れて、感じて、子どもたちの想いつきや、ひらめき、想像力を育みます。

      .mt10.f16.f-bold
        【想い出】
      .pa15.pt5
        幼少期に育まれた全てのことを、物、形、記憶として次世代へ繋げていける保育を目指します。
      .mt10.f16.f-bold
        【想いやり】
      .pa15.pt5
        人と人との繋がりを大切にし、自分を大切にしながらも他人を優先できる人になれるよう、優しさ、親切心、想いやりの心を育みます。



    .mt25.f16.f-bold
      ユアの目指す保育

    .mt10
      私たちは保育に携わる全ての人々の「想い」を尊重しています。
      %br
      「子どもたちの想い」
      %br
      「お父さんお母さんの想い」
      %br
      「先生たちの想い」
      %br
      全ての想いを形に出来るよう、日々切磋琢磨し、未来へ繋がる保育園作りを目指しています。

    .mt50.f18
      ⇒
      = link_to "企業理念", mission_path, class: 'c-black'


  .col-md-3
