%table.table.table-bordered.mt20
  %tr
    %th.col-md-2 職務内容
    %td= @recruit.job_content
  %tr
    %th.col-md-2 応募資格
    %td= @recruit.qualification
  %tr
    %th.col-md-2 待遇処遇
    %td= @recruit.compensation
  %tr
    %th.col-md-2 勤務地
    %td= @recruit.working_place
