- set_meta_tags title: '採用情報', description: '株式会社ユアの採用情報のページです。派遣社員の登録スタッフや弊社運営の保育施設の求人を載せております。'

.col-md-2

.col-md-8
  - if @recruits.present?
    私たちは、「あなたの想いを、全て形に」を企業理念とし、「３つの想いを大切に」保育事業を行っています。
    %br
    あなたの想いをどんどん実現していきませんか？是非ご応募お待ちしております！

    %h3.f22.pa10.pb0
      採用中一覧
    %div.mb10(style="border-bottom: 2px solid #ddd")
    %table.table
      - @recruits.each do |recruit|
        %tr
          %td.pa15.pl20= link_to recruit.title, recruit
          %td.pa15.pl20.col-md-4
            = recruit.working_place
  - else
    .mt25
      現在募集しておりません。募集開始しましたら掲載いたします。
