.eye-catch {
  background: url('http://albull.co.jp/assets/welcome/traffic-529adfee39272b774528c6bb9b096ff10715aff8b980a568a52091b9fa9802f6.jpg');
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

ul.list-menu {
  padding-left: 0;
  li > a {
    display: block;
    padding: 10px 0 5px 8px;
    color: #555;
  }
  li > a:hover {
    text-decoration: none;
  }
}

label.require:after {
  @extend .badge;
  @extend .badge-danger;
  margin-left: 8px;
  content: "必須";
  font-size: 10px;
}
label.private:after {
  @extend .badge;
  @extend .badge-danger;
  margin-left: 8px;
  content: "非公開";
  font-size: 10px;
}
label.pause:after {
  @extend .badge;
  @extend .badge-danger;
  margin-left: 0px;
  content: "停止中";
  font-size: 10px;
}
