/*
 *= require bootstrap_and_overrides
 *= require_self
 *= require common
 *= require header
 *= require error_explanation
 */

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weghit: 700;
}

.alert {
  margin-top: 20px;
}

.navbar-brand {
  font-size: 28px;
  font-family: Cabin;
  font-weight: 700;
  margin-right: 10px;
}

.main {
  min-height: 480px;
}

.breadcrmb-wrap {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
}

.breadcrumb {
  padding: 8px 0;
  background-color: inherit;
  margin-bottom: 0;
  border-radius: 0;
}

select {
  height: 28px;
  border: 1px solid #ccc;
}

.border-under {
  border-bottom: 1px solid #ccc;
}

.carousel {
  height: 400px;
  overflow: hidden;
}
.carousel img{
  width: 100%;
}

section#main_contents {
  margin: 0 auto;
  width: 1200px;
  min-height: 480px;
}

section#footer {
  clear: both;
  margin-top: 20px;
}
section#footer > #main-contents {
  width: 1200px;
  margin: 5px auto;
  min-height: 48px;
}
