// header CSS
section#header {
  height: 80px;
  border-bottom: 1px solid #ccc;

  .navbar-nav > li > a {
    font-weight: bold;
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 20px;
  }

  #logo {
    img {
      height: 40px;
    }
  }
}
