- set_meta_tags title: @topic.title

%h1.f26= @topic.title

.col-md-8
  %p.t-right
    =l @topic.publish_at.to_date, format: :topic

  %p
    = @topic.body.html_safe


.mt15
  = link_to t('Back'), store_topics_path(@store.pkey)
