.row.mb30
  .col-md-2
  .col-md-8
    %h1.f22 月額プラン
    月額プランにご入会いただくとお得な特典が盛りだくさん！
    ぜひご入会ください！

- @plans.each do |plan|
  .row
    .col-md-2
    .col-md-8
      .panel.panel-default
        .panel-heading
          %h2.panel-title.f18= plan.title
        .panel-body
          %div.f14{style: 'padding: 10px;'}
            #{plan.amount}円 /月
          %p
            = plan.detail

        .panel-footer.text-right
          = link_to 'more »', plan
