
%ins.adsbygoogle(style="display:inline-block;width:#{w}px;height:#{h}px"
  data-ad-client="#{Settings.adsense.client}"
  data-ad-slot="#{slot_id}")
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
