- set_meta_tags title: "#{Place.model_name.human}一覧"

.col-md-2

.col-md-8
  私たち株式会社ユアは、「あなたの想いは、全て形に」を企業理念とし、「３つの想いを大切に」以下保育園の運営を行っています。

  %h3.pa5.border-under
    #{Place.model_name.human}一覧
  %table.table.table-bordered
    - @places.each do |place|
      %tr
        %td.col-md-4= link_to place.name, place
        %td
          = place.address
