- set_meta_tags title: "#{Place.model_name.human}一覧",
  description: '私たち株式会社ユアが、「あなたの想いは、全て形に」の企業理念と、「３つの想いを大切に」の保育理念のもと、保育の運営を行っている施設一覧です。'

.col-md-2

.col-md-8
  私たち株式会社ユアは、「あなたの想いを、全て形に」を企業理念とし、「３つの想いを大切に」以下保育園の運営を行っています。

  %h3.f22.pa10.pb0
    #{Place.model_name.human}一覧
  %div.mb10(style="border-bottom: 2px solid #ddd")
  %table.table
    - @places.each do |place|
      %tr
        %td.pa15.pl20.col-md-4= link_to place.name, place
        %td.pa15.pl20
          = place.address
