<section id="footer">
  <div>
    <p><%= link_to "Your Corpとは?", about_us_path %></p>
    <p><%= link_to "私たちのVision", vision_path %></p>
    <p><%= link_to "私たちの保育理念", policy_path %></p>
  </div>
</section>
