%section#footer
  #main-contents
    &copy; #{link_to 'Your Corp.', root_url, title: '株式会社ユア', style: 'color: #333'}
    %span.ml10.f12
      = link_to "利用規約", terms_path
    %span.ml10.f12
      = link_to "プライバシーポリシー", policy_privacy_path
