%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{charset: "UTF-8"}/

= display_meta_tags site: t('site.name'), description: t('site.description'), title: @breadcrumbs.try(:last).try(:name),
  og: {url: @breadcrumbs.try(:last).try(:path) || root_url, type: 'article'}, reverse: true,
  twitter: {card: 'website', site: '@yourcorp'},
  canonical: @breadcrumbs.try(:last).try(:path) || root_url
%meta{property: 'fb:app_id', content: Settings[:facebook][:app_id]}
