%meta{charset: 'UTF-8'}/
-viewport_content = "width=device-width,initial-scale=1.0"
-viewport_content << ",maximum-scale=1,user-scalable=no" if request.smart_phone?
%meta{name:"viewport", content:viewport_content}

= display_meta_tags site: t('site.name'), description: t('site.description'), title: @breadcrumbs.try(:last).try(:name),
  og: {title: t('site.name'), url: root_url}, reverse: true,
  twitter: {card: 'website', site: '@g_MusiQ'},
  canonical: @breadcrumbs.try(:last).try(:path) || root_url
%meta{property: 'fb:app_id', content: @c_social[:facebook]}
